<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/ViewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalAgreement</servlet-name>
    <servlet-class>RentalAgreement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalAgreement</servlet-name>
    <url-pattern>/RentalAgreement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HidePackage</servlet-name>
    <servlet-class>HidePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HidePackage</servlet-name>
    <url-pattern>/HidePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Renewal</servlet-name>
    <servlet-class>Renewal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Renewal</servlet-name>
    <url-pattern>/Renewal</url-pattern>
  </servlet-mapping>
</web-app>